.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.card {
  width: 100%;
  max-width: 400px;
  margin: 16px;
  height: 120px;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

img {
  object-position: center -10px;
}
